<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <h1>Song list by : {{this.artist}} </h1>  
        {{#each songs }}
            <div class="row">
                {{# each this }}
                <!--  <% for (var i = 0; i < products.length; i++) { %> --> 
                    {{#if this.trackName }}
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Track: {{this.trackName}}</h3>
                                    <a href="{{this.previewUrl}}">Click here to Preview Track</a>
                                    <p>Album: {{this.collectionName}}</p>
                                    <p>Price: {{this.trackPrice}}</p>
                                    <p>Currency: {{this.currency}}</p>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
    </div>


    </div>
</body>
