<% include ../partials/header %>

    <div class="container">
    <h1>Song list by : <%= artist %> </h1>  
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Track</th>
                <th scope="col">Album Name</th>
                <th scope="col">Track Price</th>
        </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < songs.length; i++) { %>
                <tr>
                    <td><%= songs[i].trackName %></td>
                    <td><%= songs[i].collectionName %></td>
                    <td>$<%= songs[i].trackPrice %> <a href="/add-to-cart/<%= songs[i]._id %>" class="btn btn-info">Buy</a></td>
                </tr>
            <% } %>
        </tbody>
     </table> 
    </div>

<% include ../partials/footer %>
